mixin nav
	nav.nav
		ul.menu
			li
				a(href="#section-1") section-1
			li
				a(href="#section-2") section-2
				ul.menu.menu--sub
					li
						a(href="#section-2-1") section-2-1
					li
						a(href="#section-2-2") section-2-2
					li
						a(href="#section-2-3") section-2-3
			li
				a(href="#section-3") section-3
			li
				a(href="#section-4") section-4
			li
				a(href="#section-5") section-5