include ./includes/_blocks
doctype html
html(lang="ru")
	+head
		+footer
	+layout
		+header
			+nav
			.ad-link Smooth scroll to element made with 
				a(href="https://github.com/Komock/scroll-window-to-element") scroll-window-to-element
		+content